@page



<div class=" container">


    <!-- User section -->
    <div class="row" >
        <div class="col-2 chatUser-container">
            <div class="" align="center"><b>Online Users</b></div>
            <div class="" id="onlineUsers">
            </div>
        </div>

        <!-- Chat section-->

        <div class="chat-container">

            <!-- Messagebox -->
            <div class="modal-body message-container" id="messagesList">
            </div>

            <!-- Input bar and button -->
            <div class="input-group mb-3 messageBar">
                <input type="text" id="messageInput" class="form-control" placeholder="Chat message" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="sendButton" type="button">Send</button>
                </div>
            </div>


        </div>
    </div>
</div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="js/date.format.js"></script>