@page


<div class="container">

    <div class="col-sm-4 login-container">


        <div class="card-body registerForm">
         
            <h4 class="card-title mb-4 mt-1">Register</h4>
            <form>
                <div class="form-group">
                    <label>Username</label>
                    <input name="" class="form-control" placeholder="Choose your username">
                </div> <!-- form-group// -->
                <div class="form-group">

                    <label>E-mail</label>
                    <input class="form-control" placeholder="Please provide your E-mail" type="email">

                </div><!-- form-group// -->

                <div class="form-group">

                    <label>Password</label>
                    <input class="form-control" placeholder="Select password" type="password">
                </div><!-- form-group// -->
                <div class="form-group">

                    <label>Confirm your password</label>
                    <input class="form-control" placeholder="Select password" type="password">
                </div><!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" id="registerButton"> Register  </button>
                </div> <!-- form-group// -->
            </form>
        </div>


    </div>

</div>

